.top-page-header {
  width: 100vw;
  padding: 1vh 8vw;
  display: flex;
}
.furima-icon {
  width: 14vw;
}
.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}
.lists-right {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0 0 0 auto;
}
.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #296ccf;
  background: #d7ecff;
  border-bottom: solid 4px #aac5de;
  border-radius: 7px;
}
.logout {
  text-decoration: none;
  margin-right: 3vw;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #296ccf;
  background: #d7ecff;
  border-bottom: solid 4px #aac5de;
  border-radius: 7px;
}
.login {
  text-decoration: none;
  margin-right: 3vw;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #296ccf;
  background: #d7ecff;
  border-bottom: solid 4px #aac5de;
  border-radius: 7px;
}
.sign-up {
  text-decoration: none;
  margin-right: 3vw;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #296ccf;
  background: #d7ecff;
  border-bottom: solid 4px #aac5de;
  border-radius:7px;
}