* {
  box-sizing: border-box;
}
.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  right: 0;
  background-image: url('sankaku.png'), url('potya.png');
  background-size: 6%;
  background-position: left top, right top;
  background-repeat: no-repeat;
}
.furima-icon {
  width: 10vw;
  margin-right: 5vw;
}
.search-bar-contents {
  display: flex;
  align-items: center;
}
.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}
.lists-right {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0 0 0 auto;
}
.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #296ccf;
  background: #d7ecff;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;
}
.logout {
  text-decoration: none;
  margin-right: 3vw;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #296ccf;
  background: #d7ecff;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;
}
.login {
  text-decoration: none;
  margin-right: 3vw;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #296ccf;
  background: #d7ecff;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;
}
.sign-up {
  text-decoration: none;
  margin-right: 3vw;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #296ccf;
  background: #d7ecff;
  border-bottom: solid 6px #aac5de;
  border-radius: 9px;
}