<div class="checkboxes">
  <label>
    <input type="checkbox" id="cbmeat" value="meat"/>
    肉類
  </label>
  <label>
    <input type="checkbox" id="cbseafood" value="seafood"/>
    魚介類
  </label>
  <label>
    <input type="checkbox" id="cbegg" value="egg"/>
    卵類
  </label>
  <label>
    <input type="checkbox" id="cbbean" value="bean"/>
    豆類
  </label>
  <label>
    <input type="checkbox" id="cbmilk" value="milk"/>
    乳類
  </label>
  <label>
    <input type="checkbox" id="cbgrain" value="grain"/>
    穀類
  </label>
  <label>
    <input type="checkbox" id="cbpotato" value="potato"/>
    いも及びデンプン類
  </label>
  <label>
    <input type="checkbox" id="cbfruit" value="fruit"/>
    果実類
  </label>
  <label>
    <input type="checkbox" id="cbnut" value="nut"/>
    種実類
  </label>
  <label>
    <input type="checkbox" id="cbmushroom" value="mushroom"/>
    きのこ類
  </label>
  <label>
    <input type="checkbox" id="cbalga" value="alga"/>
    藻類
  </label>
  <label>
    <input type="checkbox" id="cbvegetable" value="vegetable"/>
    野菜類
  </label>
  <label>
    <input type="checkbox" id="cboilsfat" value="oilsfat"/>
    油脂類
  </label>
  <label>
    <input type="checkbox" id="cbsugar" value="sugar"/>
    砂糖及び甘味類
  </label>
  <label>
    <input type="checkbox" id="cbpastry" value="pastry"/>
    菓子類
  </label>
  <label>
    <input type="checkbox" id="cbpreference" value="preference"/>
    嗜好飲料類
  </label>
  <label>
    <input type="checkbox" id="cbseasoning" value="seasoning"/>
    調味料及び香辛料類
  </label>
  <label>
    <input type="checkbox" id="cbcooked" value="cooked"/>
    調理済み流通食品類
  </label>
</div>