<%= render "devise/shared/header" %>
<div class='main'>
  <div class='select-reason-contents'>
      <h2 class='title'>手軽にPFCの量を計算</h2>
      <ul class='reason-lists'>
        <li class='list'>
          <%= image_tag "eat.png", class:"list-pict" %>
          <span class='reason-list-number'>1</span>
          <h3 class='reason-list-text'>
            <span class='reason-list-blue-text'>食事をする</span>
          </h3>
          <p class='reason-list-description'>忘れないうちに入力</p>
        </li>
        <li class='list'>
          <%= image_tag "input.png", class:"list-pict" %>
          <span class='reason-list-number'>2</span>
          <h3 class='reason-list-text'>
            <span class='reason-list-blue-text'>量と種類の入力</span>
          </h3>
          <p class='reason-list-description'>結果がすぐにわかる</p>
        </li>
        <li class='list'>
          <%= image_tag "gol.png", class:"list-pict" %>
          <span class='reason-list-number'>3</span>
          <h3 class='reason-list-text'>
            <span class='reason-list-blue-text'>次に繋げよう</span>
          </h3>
          <p class='reason-list-description'>意識が低いですね</p>
        </li>
      </ul>
  </div>
</div>